<section id="Event" class="fixed f4">
      <h1>Nos prochains événements</h1>
    </section>

      <section id="WeekendEglise" class="scrolling cd cd-color-1">
        <div class="container">
          <h2>Weekend d'église</h2>
          <p>
            Cette année nous remettons ça ! Du 13 au 15 mars nous nous retrouverons dans un chalet à Charmey pour passer un weekend trop cool !
            Waykup prendra des responsabilités dans l'organisation de ce weekend. Nous organiserons notamment les afters et plus encore.</br>
            Toutes les infos sont disponibles sur le site de l'<a href="https://eebulle.ch/events" target="_blank">eebulle</a>.</br>
            Les inscriptions se font via un formulaire en ligne disponible à cette adresse: <a href="https://forms.office.com/Pages/ResponsePage.aspx?id=uDuYWEP23EWZJjb-m447Wwehl0dTOqxMtdesI58GqIpUNDJOVTlQVldERzhDTlFMRTM0V05BRVlOSy4u" target="_blank">FORMULAIRE D'INSCRIPTION</a>.
          </p>
          <center>
          <%= link_to image_tag("logo/enFamille2.png", class: "logoEvent"), "https://eebulle.ch/events" %>
          </center>
        </div>
      </section>

      <section id="RJ" class="scrolling s3">
        <div class="container">
          <h2>La RJ</h2>
          <p>
            Cette année (comme toutes les autres d'ailleurs) nous participerons à la RJ du 1 au 3 mai 2020 !</br>
            Pour prendre tes billets, cela se passe sur leur <a href="https://rencontredejeunesse.ch/2020#registration">site</a>.</br>
            Plus d'informations concernant l'organisation côté Waykup suivront.
          </p>
          <center>
          <%= link_to image_tag("logo/RJ.png", class: "logoEvent"), "https://rencontredejeunesse.ch/home" %>
          </center>
        </div>
      </section>