    <section id="boutique">
      <div id="myShop">
          <a href="https://shop.spreadshirt.ch/waykup-gdj">waykup-gdj</a>
      </div>
      
      <script>
          var spread_shop_config = {
              shopName: 'waykup-gdj',
              locale: 'fr_CH',
              prefix: 'https://shop.spreadshirt.ch',
              baseId: 'myShop'
          };
      </script>
      
      <script type="text/javascript"
              src="https://shop.spreadshirt.ch/shopfiles/shopclient/shopclient.nocache.js">
      </script>
    </section>
